.main {
    text-align: center;
    padding: toRem(40);

    grid-area: 'main';

    h1 {
        font-size: toRem(30);
        text-transform: uppercase;

        word-spacing: 100vw;
        letter-spacing: toRem(15);

        span {
            font-weight: $light;
            color: $desaturatedRed;
        }
    }

    @media (min-width: $mobileWidth) {
        padding-left: toRem(165);
        padding-bottom: toRem(160);
        padding-right: toRem(220);

        text-align: left;

        h1 {
            font-size: toRem(48);
            line-height: 1.2;
        }
    }
}

.submit {
    display: flex;
    flex-direction: row;

    height: toRem(45);
    border-radius: toRem(30);

    border: toRem(1) solid $desaturatedRed;
    margin-top: toRem(40);
    margin-bottom: toRem(5);

    &__input {
        flex-grow: 2;
        background-color: transparent;
        border: none;
        border-radius: toRem(30);
        padding: toRem(15);
        &::placeholder {
            color: $desaturatedRed;
        }

        &:active,
        &:focus {
            outline: none;
        }
    }

    &__button {
        background: $buttonGradient;
        color: white;

        width: toRem(65);
        height: 100%;
        border-radius: toRem(30);
        box-shadow: 0 toRem(15) toRem(15) hsl(0, 36%, 90%);

        &:hover {
            opacity: 0.7;
        }
    }
}
