#features {
    background-color: $lightCyan;
    color: $lightGray;

    padding: $padding;

    grid-area: features;

    h2 {
        color: $white;
        margin: 0;
        margin-bottom: toRem(10);
    }

    @media (min-width: $mobileWidth) {
        padding: $paddingDesktop;
    }
}

.features {
    &__list {
        text-align: left;
        list-style: none;
        margin: 0;
        padding: 0;
    }
}
