#container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: $lightGray;
}

.layout {
    height: auto;
    width: toRem(350);

    border-radius: $componentBorderRadius;
    overflow: hidden;

    @media (min-width: $mobileWidth) {
        width: toRem(640);

        display: grid;
        grid-template-areas: 'heading heading' 'cta features';
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}
