@import 'functions';

/* 
 *----------------------
 *       Typography
 *----------------------
 */
$fontSize: 15;
$primaryFont: 'Spartan', sans-serif;

/* Font Weights */
$default: 400;
$medium: 500;
$bold: 700;

/* 
 *----------------------
 *       Colors
 *----------------------
 */
$white: #fff;
$veryDarkMagenta: hsl(300, 43%, 22%);
$softPink: hsl(333, 80%, 67%);

$darkGrayishMagenta: hsl(303, 10%, 53%);
$lightGrayishMagenta: hsl(300, 24%, 96%);

/* 
 *----------------------
 *       Structure
 *----------------------
 */

$mobileWidth: toRem(375);
$desktopWidth: toRem(1440);

$sectionPadding: toRem(24);

$itemBorderRadius: toRem(10);
