#cta {
    .try {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: toRem(90);
        background: $blue;
        text-align: center;
        margin: 0;
        border-radius: $borderRadius;

        box-shadow: $boxShadow;
    }

    > form > p {
        font-size: toRem(10);
        text-align: center;
        padding: 0 toRem(35);
    }
}

#cta__form {
    margin-top: toRem(20);
    background-color: $white;
    border-radius: $borderRadius;
    padding: 0 toRem(20);
    padding-bottom: toRem(20);
    color: $grayishBlue;

    box-shadow: $boxShadow;

    @media (min-width: $mobileWidth) {
        padding: toRem(20);
    }
}

.input {
    display: flex;
    flex-direction: row;

    border: solid 1px rgba(100, 100, 100, 0.2);
    border-radius: toRem(5);
    margin-top: toRem(20);

    &__field {
        flex-grow: 2;
        width: 100%;
        line-height: 3;

        padding-left: toRem(10);
        border: none;

        &::placeholder {
            font-weight: $semiBold;
        }

        &.button {
            background-color: $green;
            color: $white;
            text-transform: uppercase;
            cursor: pointer;
            margin-top: toRem(20);

            box-shadow: 0 4px 2px hsl(154, 59%, 40%);
        }
    }

    &.error {
        border: solid 2px $red;

        .input__field::placeholder {
            color: $red;
        }
    }
}
