#container {
    height: 100vh;
    width: 100%;
    background: url('/images/bg-intro-mobile.png');
    background-repeat: repeat-y;
    background-color: $red;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $mobileWidth) {
        background: url('/images/bg-intro-desktop.png');
        background-color: $red;
    }
}

.layout {
    display: flex;
    flex-direction: column;
    padding: toRem(25);

    @media (min-width: $mobileWidth) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: toRem(75);
        padding: toRem(165);
    }
}
