@import 'functions';

/* 
 *----------------------
 *       Typography
 *----------------------
 */
$fontSize: 18;
$primaryFont: 'Kumbh Sans', sans-serif;

/* Font Weights */
$default: 400;
$bold: 700;

/* 
 *----------------------
 *       Colors
 *----------------------
 */
$white: #fff;
$darkCyan: hsl(185, 75%, 39%);
$veryDarkDesaturatedBlue: hsl(229, 23%, 23%);
$darkGrayishBlue: hsl(227, 10%, 46%);
$darkGray: hsl(0, 0%, 59%);

/* 
 *----------------------
 *       Structure
 *----------------------
 */

$mobileWidth: toRem(375);
$desktopWidth: toRem(1440);

$cardBorderRadius: toRem(10);
