$formBorderRadius: toRem(5);

.footer {
    background-color: $veryDarkCyan;
    color: $veryPaleBlue;
    padding: $padding;
    position: relative;

    p {
        line-height: 1.8em;

        @media (min-width: $mobileWidth) {
            max-width: toRem(350);
        }
    }

    &::before {
        @include pseudo;
        background-image: url('/images/bg-footer-top-mobile.svg');
        background-repeat: no-repeat;
        width: 100%;
        height: toRem(100);
        top: toRem(-50);
        left: 0;

        @media (min-width: $mobileWidth) {
            background-image: url('/images/bg-footer-top-desktop.svg');
            top: toRem(-180);
            height: toRem(180);
            width: 100%;
            background-size: cover;
        }
    }

    @media (min-width: $mobileWidth) {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        column-gap: 20%;
        padding: $paddingDesktop;
    }
}

.subscribe {
    display: flex;
    flex-direction: column;
    row-gap: toRem(20);

    &__input {
        width: 100%;
        padding: toRem(10);
        border-radius: $formBorderRadius;
        border: none;
    }

    &__button {
        width: 50%;
        padding: toRem(10);
        background-color: $pink;
        border-radius: $formBorderRadius;
        align-self: flex-end;
    }

    @media (min-width: $mobileWidth) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        column-gap: toRem(40);

        &__input {
            width: toRem(400);
            height: toRem(36);
        }

        &__button {
            width: toRem(200);
            height: toRem(36);
        }
    }
}

.footer-left {
    address {
        font-style: normal;
        font-size: 0.9rem;
        padding-left: toRem(40);
    }

    div {
        margin: toRem(30) 0;
    }

    &__logo {
        filter: $whiteFilter;
        margin-top: toRem(100);
    }

    &__phone::before {
        @include pseudo;
        left: $padding;
        background: url('/images/icon-phone.svg') no-repeat;
        height: toRem(36);
        width: toRem(36);
        color: $white;

        @media (min-width: $mobileWidth) {
            left: $paddingDesktop;
        }
    }

    &__email::before {
        @include pseudo;
        left: $padding;
        background: url('/images/icon-email.svg') no-repeat;
        height: toRem(36);
        width: toRem(36);
        color: $white;

        @media (min-width: $mobileWidth) {
            left: $paddingDesktop;
        }
    }
}

.icons {
    display: flex;
    flex-direction: row;
    column-gap: toRem(20);
    > div {
        border: 1px solid black;
        height: toRem(30);
        width: toRem(30);
        background-color: $veryPaleBlue;
    }

    > .inverse {
        background-color: $veryDarkCyan;
    }

    &__fb {
        height: 80%;
        width: auto;
        position: relative;
        margin-left: toRem(10);
        margin-top: toRem(2);
    }

    &__twitter {
        height: 80%;
        width: auto;
        margin-left: toRem(2);
        margin-top: toRem(2);
    }

    &__insta {
        filter: $whiteFilter;
    }
}
