#container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: $white;
}

.layout {
    width: auto;
    min-width: toRem(375);
    display: flex;
    flex-direction: column;

    @media (min-width: $mobileWidth) {
        width: 100vw;
        min-height: 100%;
    }
}

.responsive {
    width: 100%;
    height: auto;
}
