/* Credit: Engage Interactive (https://engageinteractive.co.uk/blog/top-10-scss-mixins) */
@mixin pseudo($display: block, $pos: absolute, $content: '') {
    content: $content;
    display: $display;
    position: $pos;
}
