#statistics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: $mobileWidth) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        max-width: toRem(1000);
        margin: 0 auto;
    }
}

.statistic {
    &__amount {
        font-size: toRem(60);
        margin: toRem(0);
    }

    p {
        text-align: center;
    }

    &__icon {
        text-align: left;
    }

    margin: toRem(70) 0;
}
