.card {
    height: toRem(220);
    width: toRem(310);
    background-color: $white;
    padding: toRem(30);

    border-radius: $cardBorderRadius;

    box-shadow: toRem(-5) toRem(5) toRem(20) $grayishBlue;

    margin: toRem(15);

    h3 {
        margin: 0;
        font-size: toRem(16);
    }

    img {
        float: right;
    }

    @media (min-width: $mobileWidth) {
        height: toRem(250);
    }
}

.red {
    border-top: toRem(3) solid $red;
}

.cyan {
    border-top: toRem(3) solid $cyan;
}

.orange {
    border-top: toRem(3) solid $orange;
}

.blue {
    border-top: toRem(3) solid $blue;
}
