#container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: $lightGray;
}

.layout {
    height: auto;
    width: toRem(350);

    border-radius: $componentBorderRadius;
    overflow: hidden;
}
