#content {
    text-align: center;

    h1 {
        font-weight: $light;
        color: $gray;

        strong {
            color: $veryDarkBlue;
        }
    }

    input {
        width: 100%;
        border: solid 1px $paleBlue;
        border-radius: toRem(40);
        padding: toRem(10);
        padding-left: toRem(30);
        margin-top: toRem(10);

        &::placeholder {
            color: $paleBlue;
            font-size: $fontSize;
        }
    }

    button {
        width: 100%;
        border-radius: toRem(40);
        text-align: center;
        padding: toRem(10);
        background-color: $blue;
        color: $white;
        font-size: toRem(15);
        margin-top: toRem(10);
    }
}
