#content {
    text-align: center;

    h1 {
        font-weight: $light;
        color: $gray;

        strong {
            color: $veryDarkBlue;
        }
    }

    input {
        width: 100%;
        border: solid 1px $paleBlue;
        border-radius: toRem(40);
        padding: toRem(10);
        padding-left: toRem(30);
        margin-top: toRem(10);

        &::placeholder {
            color: $paleBlue;
            font-size: $fontSize;
        }

        &.error {
            border: solid 1px $lightRed;
        }
    }

    button {
        width: 100%;
        height: fit-content;
        border-radius: toRem(40);
        text-align: center;
        padding: toRem(10);
        background-color: $blue;
        color: $white;
        font-size: toRem(15);
        margin-top: toRem(10);
        box-shadow: 0 5px 8px $paleBlue;
    }
}

.email-input {
    @media (min-width: $mobileWidth) {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-auto-flow: row;
        column-gap: 20px;
    }
}
