#container {
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
}

.layout {
    padding: toRem(28);

    @media (min-width: $mobileWidth) {
        width: toRem(650);
    }
}
