.content {
    text-align: center;
    margin-bottom: toRem(80);

    &__header {
        text-transform: capitalize;
    }

    &__button {
        width: 80%;
        max-width: toRem(200);
        color: $violet;
        background-color: $white;
        padding: toRem(15);
        border-radius: toRem(40);
        box-shadow: toRem(7) toRem(7) toRem(7) $violetShadow;

        &:hover {
            background-color: $softMagenta;
            color: $white;
        }
    }

    @media (min-width: $mobileWidth) {
        &__header {
            font-size: toRem(45);
        }

        &__button {
            font-size: $fontSize;
            margin-top: toRem(10);
        }
    }
}
