.article-preview {
    width: $cardWidthMobile;
    background-color: $white;

    border-radius: $cardBorderRadius;
    overflow: hidden;
}

.content {
    padding: $cardPadding;

    &__main {
        margin: toRem(5);
    }

    &__footer {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        margin-top: toRem(40);
    }

    &__credit {
        padding-left: toRem(55);
        color: $grayishBlue;
        position: relative;
    }

    &__credit::before {
        content: '';
        position: absolute;
        background: url('/images/avatar-michelle.jpg') no-repeat;
        background-size: cover;
        height: toRem(39);
        width: toRem(39);
        border-radius: 100%;
        left: 0;
    }

    &__name {
        font-weight: $bold;
        color: $veryDarkGrayishBlue;
    }
}
