@import 'functions';

/* 
 *----------------------
 *       Typography
 *----------------------
 */
$fontSize: 13;
$primaryFont: 'Manrope', sans-serif;

/* Font Weights */
$default: 500;
$bold: 700;

/* 
 *----------------------
 *       Colors
 *----------------------
 */
$white: #fff;
$veryDarkGrayishBlue: hsl(217, 19%, 35%);
$desaturatedDarkBlue: hsl(214, 17%, 51%);
$grayishBlue: hsl(212, 23%, 69%);
$lightGrayishBlue: hsl(210, 46%, 95%);

/* 
 *----------------------
 *       Structure
 *----------------------
 */

$mobileWidth: toRem(375);
$desktopWidth: toRem(1440);

$cardBorderRadius: toRem(10);
$cardPadding: toRem(30);
