@import 'functions';

/* 
 *----------------------
 *       Typography
 *----------------------
 */
$fontSize: 15;
$mainFont: 'Inter', sans-serif;
$statsFont: 'Lexend Deca', sans-serif;

/* 
 *----------------------
 *       Colors
 *----------------------
 */
$veryDarkBlue: hsl(233, 47%, 7%);
$darkDesaturatedBlue: hsl(244, 38%, 16%);
$softViolet: hsl(277, 64%, 61%);
$white: hsl(0, 0%, 100%);
$mainTransparentWhite: hsla(0, 0%, 100%, 0.75);
$statHeadingsTransparentWhite: hsla(0, 0%, 100%, 0.6);

/* 
 *----------------------
 *       Structure
 *----------------------
 */

$mobileWidth: toRem(375);
$desktopWidth: toRem(1440);
